In [2]:
import pandas as pd
df = pd.read_csv('turmas-2017.1.csv' , sep = ';')
fmc_1 = df[(df.codigo == "IMD0028")]
fmc_2 = df[(df.codigo == "IMD0038")]
fmc_2 = fmc_2[0:2]
prob = df[(df.codigo == "IMD0033")]
fmc_1.head()

,id_turma,codigo,nome_ascii,docente_interno,docente_externo,nivel_ensino,ano,periodo,capacidade_aluno,local,...,distancia,tipo,data_consolidacao,agrupadora,qtd_aulas_lancadas,situacao_turma,convenio,modalidade_participantes,campus_turma,Unnamed: 24
5570,57597592,IMD0028,FUNDAMENTOS MATEMATICOS DA COMPUTACAO I,014ec19f7505af82a85fd57100dc4807,NaN,GRADUAÇÃO,2017,1,73.0,A306 - CIVT,...,f,1,2017-07-07 17:40:45.318,f,108.0,CONSOLIDADA,NaN,Presencial,Campus Central,NaN
5571,57597593,IMD0028,FUNDAMENTOS MATEMATICOS DA COMPUTACAO I,7566efce6246d381c7a74eaaf02726c1,NaN,GRADUAÇÃO,2017,1,60.0,A306 - CIVT,...,f,1,NaN,f,NaN,EXCLUÍDA,NaN,Presencial,Campus Central,NaN
5572,57597594,IMD0028,FUNDAMENTOS MATEMATICOS DA COMPUTACAO I,7566efce6246d381c7a74eaaf02726c1,NaN,GRADUAÇÃO,2017,1,60.0,A306 - CIVT,...,f,1,NaN,f,NaN,EXCLUÍDA,NaN,Presencial,Campus Central,NaN
9870,57600129,IMD0028,FUNDAMENTOS MATEMATICOS DA COMPUTACAO I,6040a6c8488f5274cd2898440646afc0,NaN,GRADUAÇÃO,2017,1,72.0,CIVT - A306,...,f,1,2017-07-07 18:40:36.511,f,104.0,CONSOLIDADA,NaN,Presencial,Campus Central,NaN
9871,57600130,IMD0028,FUNDAMENTOS MATEMATICOS DA COMPUTACAO I,117eb3d847f2ecfebf4034714b820ffa,NaN,GRADUAÇÃO,2017,1,71.0,CIVT - A306,...,f,1,2017-07-07 03:21:38.012,f,98.0,CONSOLIDADA,NaN,Presencial,Campus Central,NaN

In [15]:
id_turma_fmc_1=fmc_1.id_turma.tolist()
id_turma_fmc_2=fmc_2.id_turma.tolist()
id_turma_prob=prob.id_turma.tolist()

matricula = pd.read_csv('matricula-componente-20171.csv', sep = ';')
## Data-Frame turmas de fmc1
turmas_fmc_1 = matricula[matricula.id_turma == id_turma_fmc_1[0]] 
##print(turmas_fmc_1)
for i in range (1, len(id_turma_fmc_1)):
    ##print (matricula[matricula.id_turma == id_turma_fmc_1[i]])
    temp = matricula[matricula.id_turma == id_turma_fmc_1[i]]
    turmas_fmc_1 = pd.concat([turmas_fmc_1, temp])
## tirando nan
turmas_fmc_1 = turmas_fmc_1.dropna(axis=0, how='any')
turmas_fmc_1 = turmas_fmc_1.dropna(axis=1, how='any')    
##print (turmas_fmc_1)

## Data-Frame turmas de fmc2
turmas_fmc_2 = matricula[matricula.id_turma == id_turma_fmc_2[0]] 
##print(turmas_fmc_2)
for i in range (1, len(id_turma_fmc_2)):
    ##print (matricula[matricula.id_turma == id_turma_fmc_1[i]])
    temp = matricula[matricula.id_turma == id_turma_fmc_1[i]]
    turmas_fmc_2 = pd.concat([turmas_fmc_2, temp])
## tirando nan
turmas_fmc_2 = turmas_fmc_2.dropna(axis=0, how='any')
turmas_fmc_2 = turmas_fmc_2.dropna(axis=1, how='any')    
##print (turmas_fmc_2)

## Data-Frame turmas de probabilidade
turmas_prob = matricula[matricula.id_turma == id_turma_prob[0]] 
##print(turmas_prob)
for i in range (1, len(id_turma_prob)):
    ##print (matricula[matricula.id_turma == id_turma_prob[i]])
    temp = matricula[matricula.id_turma == id_turma_prob[i]]
    turmas_prob = pd.concat([turmas_prob, temp])
## tirando nan
turmas_prob = turmas_prob.dropna(axis=0, how='any')
turmas_prob = turmas_prob.dropna(axis=1, how='any')    
##print (turmas_prob)