In [14]:
import pandas as pd
df = pd.read_csv('turmas-2017.1.csv' , sep = ';')
fmc_1 = df[(df.codigo == "IMD0028")]
fmc_2 = df[(df.codigo == "IMD0038")]
fmc_2 = fmc_2[0:2]
prob = df[(df.codigo == "IMD0033")]
fmc_2.head()

,id_turma,codigo,nome_ascii,docente_interno,docente_externo,nivel_ensino,ano,periodo,capacidade_aluno,local,...,distancia,tipo,data_consolidacao,agrupadora,qtd_aulas_lancadas,situacao_turma,convenio,modalidade_participantes,campus_turma,Unnamed: 24
5983,57597922,IMD0038,FUNDAMENTOS MATEMATICOS DA COMPUTACAO II,5258ff44921100de32b56af4b06edf2d,NaN,GRADUAÇÃO,2017,1,60.0,A308,...,f,1,2017-07-06 15:40:14.841,f,110.0,CONSOLIDADA,NaN,Presencial,Campus Central,NaN
5988,57597928,IMD0038,FUNDAMENTOS MATEMATICOS DA COMPUTACAO II,5258ff44921100de32b56af4b06edf2d,NaN,GRADUAÇÃO,2017,1,60.0,A308,...,f,1,2017-07-05 19:56:59.837,f,110.0,CONSOLIDADA,NaN,Presencial,Campus Central,NaN

In [17]:
id_turma_fmc_1=fmc_1.id_turma.tolist()
id_turma_fmc_2=fmc_2.id_turma.tolist()
id_turma_prob=prob.id_turma.tolist()

matricula = pd.read_csv('matricula-componente-20171.csv', sep = ';')
for i in range (0, len(id_turma_fmc_1)):
    temp = matricula[matricula.id_turma == id_turma_fmc_1[i]]
    turmas_fmc_1 = pd.concat([turmas_fmc_1, temp])
##print (turmas_lp)

NameError: name 'turmas_fmc_1' is not defined